@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

body {
  font-family: "Overpass", sans-serif;
}

.app {
  background: url("./images/bg-pattern-intro-desktop.svg") no-repeat,
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-size: 1050px;
  background-position: center;
}

.art {
  background: url("./images/bg-pattern-circles.svg") no-repeat,
    hsl(237, 17%, 21%);
  background-size: 750px;
  background-position: center -300px;
  border-radius: 0 90px 0 90px;
}

@media (min-width: 640px) {
  .art {
    background-position: left -300px;
  }
}
@media (min-width: 1280px) {
  .art {
    background-position: 500px -200px;
  }
}

.test {
  @apply fixed left-1 right-1 top-20 mx-10 h-auto flex flex-col py-10 rounded-lg;
}

.responsive-navbar {
  @apply md:mr-auto md:relative md:bg-transparent md:text-white md:p-0 md:pb-0 md:top-0 md:right-0 fixed top-20 right-16 bg-white text-zinc-700 p-16 pb-32 rounded-xl;
}
.responsive-navbar-hide {
  @apply md:mr-auto md:relative md:bg-transparent md:text-white md:p-0 md:pb-0 md:top-0 md:right-0 fixed top-20 right-16 bg-white text-zinc-700 p-16 pb-32 rounded-xl hidden;
}
.responsive-login {
  @apply flex gap-6 md:relative md:top-0 md:right-0 md:flex-row fixed z-10 top-72 right-32 flex-col;
}

.drop-down {
  @apply absolute top-7 bg-white text-black p-3 rounded-lg flex flex-col gap-2 invisible;
}
